// $mainColor:#f68bb7;
@import '../../assets/common/global.scss';
$fontColor:#333;
$font_size:75;


@import '../../assets/iconfont/iconfont.css';
@import '../../assets/common/H-ui.reset.css';

@function rem($px){
    @return ($px / $font_size) + rem;
}
// ip6下 html font-size:75px;

// for iphone5
@media screen and (max-width:320px){
    .ellipsis{
        white-space:nowrap;
        text-overflow:ellipsis;
        /* for internet explorer */ 
        overflow:hidden; 
        width:14em;
            display:inline-block;
    }
};


#mine{
    font-size: 14px;
    a{color:$fontColor}
    color:$fontColor;
    header{
        .hb-nav{
            position: relative;
            height:rem(51);
            line-height:rem(51);
            background-color:$mainColor;
            text-align: center;
            .btnl{
                color:#fff;
                width: rem(51);
                height: rem(51);
                line-height: rem(51);
                position: absolute;
                top: 0;
                z-index:10;
                i.icon{
                    font-size: 0.4375rem;    
                }
            }
            span{
                display: inline-block;
                font-size:rem(22);
                color:#fff;
            }
        }
        .hbmain-info{
            background-color: #f8f8f8;
            padding: rem(10);
            p{
                height: rem(32);
                line-height: rem(32);
            }
            .hb-userName{
                color:$mainColor;
            }
            .empirical{
                color:$mainColor;
            }
            .menberLevel{
                color:$mainColor;
            }
        }

    }
    article{
        .menber-list{
            padding-top: rem(15);
            padding-bottom: rem(50);
            line-height: rem(32);
            background-color: white;
            .list-top {
                border-top: rem(1) solid #cccccc;
            }
            a{color: #333;}
            li{
                text-indent:1.5em;
                font-size: rem(14);
                line-height: rem(54);
                vertical-align: middle;
                border-bottom: rem(1) solid #cccccc;
                i.iconfont{
                    font-size:rem(22);
                    margin-right: 1em;
                    z-index: 10;
                }
            }
        }
    }
}
