$mainColor:#f68bb7;
$fontColor:#333;
$iconColor:#c9cabb;

$font_size:75;

// ip6下 html font-size:75px;
@function rem($px){
    @return ($px / $font_size) + rem;
}
@import '../../assets/common/H-ui.reset.css';
@import '../../assets/bootstrap/css/bootstrap.min.css';

#add{
    font-size: 14px;
    .hb-nav{
        position: relative;
        height:rem(51);
        line-height:rem(51);
        background-color:$mainColor;
        text-align: center;
        .btnl{
            color:#fff;
            width: rem(51);
            height: rem(51);
            line-height: rem(51);
            position: absolute;
            top: 0;
            z-index:10;
            i.icon{
                font-size: rem(38);    
            }
        }
        span{
            display: inline-block;
            font-size:rem(22);
            color:#fff;
        }
    }
    .hbmain-content{
        color:#666;
        ul{
            li{
                padding:rem(15) rem(10);
               .font-32{font-size: rem(19);line-height: rem(21);}
               .font-24{font-size: rem(12);line-height: rem(16);}
                font-weight: normal;
                border-bottom: 1px solid rgb(102,102,102);
            }
            li.active {
                    background-color: #5e6b85;
                    color: #fff;
                }
        }
    }
    button#btnAd{
        float: right;
        margin-right: 10px;
        z-index:100;   
        background-color:#5e6b85;
        color:#fff;
    }
}
// ul.foot{
//     display: none;
// }