@import './../../assets/common/global.scss';

#foot{
    position: relative;
    .foot{
        // 选中的切换效果
        .router-link-active{
            color:$mainColor;
            text-decoration: none;
        }
		.toTop-enter-active{transition: all .3s ease;}

		.toTop-leave-active{transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); opacity: 0;} 
        .toTop-enter {
            transform:  scale(2,2) translateY(10px);
            opacity: 0;
        }
        
        margin-bottom: 0 !important;
        width: 100%;    
        overflow: hidden;
        li:nth-child(2) i{
                font-size: 26px;
                margin-top: -4px;
            }
        li:nth-child(2) span{
            
            margin-top: 1px;
        }
        li:nth-child(3) span{
            
            margin-top: 1px;
        }
        li:nth-child(3) i{
                margin-top: -2px;
            }

        li{
            float: left;
            width: 25%;
            text-align: center; 
            a{
                color: $mainColorc1;
            }
            i{
                display: block;
                font-size: 24px;
            }
        }
    }
    .toTop{
        position: absolute;
        right:30px;
        top:-40px;
        z-index: 100;
        i{
            display: block;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            background-color: $mainColorr;
            border: 1px solid $mainColorr;
            border-radius: 50%;
            font-size: 18px;
            color: $mainColorw;
            opacity: 0.7
        }
    }

}