@import './../../assets/common/global.scss';

#foot{
    position: relative;
    .foot{
        // 选中的切换效果
        .router-link-active{
            color:$mainColor;
            text-decoration: none;
        }
		.toTop-enter-active{transition: all .3s ease;}

		.toTop-leave-active{transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0); opacity: 0;} 
        .toTop-enter {
            transform:  scale(2,2) translateY(10px);
            opacity: 0;
        }
        a{
                color: $mainColorc1;
            }
        width: 100%;    
        overflow: hidden;
        li:nth-child(2) i{
                font-size: 0.4063rem;
                margin-top: -0.0625rem;
            }
        li:nth-child(2) span{
            
            margin-top: 0.0156rem;
        }
        li:nth-child(3) span{
            
            margin-top: 0.0156rem;
        }
        li:nth-child(3) i{
                margin-top: -0.0313rem;
            }

        li{
            float: left;
            width: 25%;
            text-align: center; 
            i{
                display: block;
                font-size: 0.375rem;
            }
        }
    }
    .toTop{
        position: absolute;
        right:0.4688rem;
        top:-0.625rem;
        z-index: 100;
        i{
            display: block;
            width: 0.3906rem;
            height: 0.3906rem;
            text-align: center;
            line-height: 0.3906rem;
            background-color: $mainColorr;
            border: 1px solid $mainColorr;
            border-radius: 50%;
            font-size: 0.2813rem;
            color: $mainColorw;
            opacity: 0.7
        }
    }

}